{{ define "posts" }}
<br />
<div class="row">
  <div class="col-sm-6">
    <h4>User Posts :</h4>
    <br />
    {{ $v := (index . 0) }} {{ range $v.Cards }}
    <!-- if statement for templates  -->
    <div
      class="form-control"
      style="height: auto; position: relative; max-width: 450px; border-bottom: solid 2px black;"
    >
      <a class="small" href="/thread/read?id={{ .ThreadId }}">OPEN</a> thread
      created by: {{ .User }} - {{ .CreatedAtDate }}
      <a style="word-wrap: break-word; white-space: unset" class="small"
        ><br />{{ .User }}: {{ .Body }}</a
      >
    </div>
    {{ end }}
  </div>
  <div class="col-sm-6">
    <h4>Liked Posts :</h4>
    <br />
    {{ $v := (index . 0) }} {{ range $v.LikedPosts }}
    <div
      class="form-control"
      style="
        height: auto;
        position: relative;
        max-width: 450px;
        border-bottom: solid 2px black;
      "
    >
      <a class="small" href="/thread/read?id={{ .ThreadId }}">OPEN</a> thread
      created by: <a class="small">{{ .User }} </a>- {{ .CreatedAtDate }}
      <a style="word-wrap: break-word; white-space: unset" class="small"
        ><br />{{ .User }}: {{ .Body }}</a
      >
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
