{{ define "content" }}
<h4> Account Info: </h4>

    Name : {{ (index . 0).User.Name }} <br>
    Email : {{ (index . 0).User.Email }} <br>
    Created at : {{ $v := (index . 0).User }} {{ slice (print $v.CreatedAt) 0 16 }}

  <h4> User Threads: </h4>
{{ range . }} 

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Topic }}</span>
    </div>
    <div class="panel-body">
      Started by <a class="lead" href="/account?user_id={{.UserId}}">{{ .User.Name }}</a> - {{ .CreatedAtDate }} - {{ .NumReplies }} posts.
      <div class="pull-right">
        <a href="/thread/read?id={{.Id }}">Read more</a>
      </div>
    </div>
  </div>
{{ end }}

<div class="container">
      
  {{ template "posts" . }}
  
</div>

{{ end }}