{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="d-flex flex-column bg-light">
    <div class="d-flex flex-grow-1 container-lg justify-content-center">
      <title>Forum Talk</title>
      <video
        autoplay
        muted
        loop
        style="
          width: 100%;
          height: 320px;
          max-width: 900px;
          object-fit: cover;
          display: block;
          object-position: center;
          aspect-ratio: 16 / 9;
          border-radius: 30px;
          z-index: -1;
          transform: none;
          position: absolute;
        "
      >
        <source
          src="/static/images/tree.webm"
          type="video/webm; codecs=vp9, opus"
        />
        <source src="/static/images/tree.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <!-- </div> -->
      <!-- </div><div class="start-50 translate-middle-x"> -->
      <!-- <img class="img-fluid" width="150" height="150" src="/static/book2.png" alt="Forum Book"> -->
      <!-- </div> -->
    </div>
    <div
      class="container-lg pd-50 position-relative"
      style="z-index: 1; margin-top: 180px; margin-bottom: 20px"
    >
      {{ template "navbar" . }}
    </div>

    <!-- Main content area -->
    <main class="container-lg flex-grow-1 py-4" style="margin-top: 80px">
      {{ template "content" . }}
    </main>

    <!-- Footer area -->
    <footer class="container-lg mt-auto py-4">
      <div class="row g-4">
        <div class="col-md-4">
          <h6>Forum Instructions</h6>
          <p class="small">
            <kbd>Only Registered users</kbd> can create <kbd>threads/posts</kbd
            ><br />
            Signs like: <kbd>private thread</kbd> or
            <kbd>public thread</kbd> provided by status of
            <b>registered/not registered</b> users respectfully
          </p>
        </div>
        <div class="col-md-4">
          <h6>Keyboard Shortcuts</h6>
          <p class="small">
            Windows/macOS shortcuts:<br />
            <kbd>ctrl + shift + J</kbd><br />
            <kbd>cmd + alt + i</kbd>
          </p>
        </div>
        <div class="col-md-4">
          <h6>Additional Links</h6>
          <p class="small">Links: about/concept/facebook/vk</p>
        </div>
      </div>
    </footer>

    <!-- Cookie Consent Banner -->
    {{ template "cookie-consent" . }}

    <script src="/static/js/cookie-debug.js"></script>
    <script src="/static/js/selection-notify.js"></script>
  </body>
</html>

{{ end }}
