{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html" charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <title>Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="container-lg bg-light" style="scroll-behavior: smooth">
    <title>Forum Talk</title>
    <div class="container-lg position-relative">{{ template "navbar" . }}</div>
    <div class="d-flex flex-grow-1 container-lg justify-content-center">
      <video autoplay muted loop class="video">
        <source src="/static/images/tree.mp4" type="video/mp4" />
        <source
          src="/static/images/tree.webm"
          type="video/webm; codecs=vp9, opus"
        />
        Your browser does not support the video tag.
      </video>
    </div>

    <!-- Main content area -->
    <main class=".container-fluid py-4" style="margin-top: 60px">
      {{ template "content" . }}
    </main>

    <!-- Footer area -->
    <footer class="card-footer mt-auto py-4">
      <div class="row g-4">
        <div class="col-md-4">
          <h6>Forum Instructions</h6>
          <p class="small">
            <kbd>Only Registered users</kbd> can create <kbd>threads/posts</kbd
            ><br />
            Signs like: <kbd>private thread</kbd> or
            <kbd>public thread</kbd> provided by status of
            <b>registered/not registered</b> users respectfully
          </p>
        </div>
        <div class="col-md-4">
          <h6>Keyboard Shortcuts</h6>
          <p class="small">
            Windows/macOS shortcuts:<br />
            <kbd>ctrl + shift + J</kbd><br />
            <kbd>cmd + alt + i</kbd>
          </p>
        </div>
        <div class="col-md-4">
          <h6>Additional Links</h6>
          <p class="small">
            <a
              href="https://www.google.com"
              target="_blank"
              rel="noopener"
              title="Google"
              style="margin-right: 8px"
            >
              <i
                class="fa fa-google"
                style="font-size: 20px; vertical-align: middle"
              ></i>
              Google
            </a>
            <a
              href="https://www.youtube.com"
              target="_blank"
              rel="noopener"
              title="YouTube"
              style="margin-right: 8px"
            >
              <i
                class="fa fa-youtube-play"
                style="font-size: 20px; vertical-align: middle"
              ></i>
              YouTube
            </a>
            <a href="https://vk.com" target="_blank" rel="noopener" title="VK">
              <i
                class="fa fa-vk"
                style="font-size: 20px; vertical-align: middle"
              ></i>
              VK
            </a>
          </p>
        </div>
      </div>
    </footer>

    <!-- Cookie Consent Banner -->
    {{ template "cookie-consent" . }}
  </body>
</html>

{{ end }}
