<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
      </head>
      <body style="overflow-y: hidden;">
  <script>
var num = 0; 
</script>
          {{ if (index .Li 0).UserId }}
          <div style="display: inline-block;">
          <form action="likes/accept" method="POST">
    <input type="hidden" name="userUSER" value="{{ (index .Li 0).UserId }}">
    <input type="hidden" name="okay" value="{{ (index .Li 0).PostId }}">
<button class= "fa fa-thumbs-up"></button>
{{ $v := (index .Li 0) }} {{ $v.LengthOfLikes }}
</form> 
{{ end }}
</div>

{{ if (index .Di 0).UserId }}
<div style="display: inline-block;">
<form action="likes/dislike" method="POST">
  <input type="hidden" name="userUSER2" value="{{ (index .Di 0).UserId }}">
    <input type="hidden" name="okay2" value="{{ (index .Di 0).PostId }}">
<button class="fa fa-thumbs-down"></button>
{{ $v := (index .Di 0) }} {{ $v.LengthOfDislikes }}
</div>
</form> 
{{ end }}
</div>
<!-- <div style="display: none" class="slide-out"> -->
   
<!-- </div> -->
<script>
 
</script>
</body>
</html>