{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Forum Talk</title>
    <link href="/static/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/login.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">{{ template "content" . }}</div>
    <!-- /container -->
  </body>
</html>

{{ end }}
