{{ define "navbar" }}

<!-- <div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button style="width:100px;" type="button" class="navbar-toggle collapsed" class="btn btn-dark" data-toggle="collapse" data-target=".navbar-collapse">Menu</button>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="padding-left:10px;" class="navbar-brand" href="/"> -->
        
        <i class="fa fa-comments-o"></i>
        <a class="lead" href="/">Forum Talk</a>
      
        <a style="padding-right: 10px;" class="btn btn-link pull-right" href="/logout">Logout</a>
      
        <form class="pull-right" action="accountcheck" method="POST">
          <button type="submit" class="btn btn-link">Account</button>
        </form>
        <!-- <a style="padding-right: 10px" class="pull-right" href="/accountcheck">Account</a> -->
{{ end }}