{{ define "content" }}

<section style="margin-top: 180px">
  <h5>Public </h5>
  <div id="starter"></div>
  <div class="panel panel-default">
      <i>Topic</i>
      <div style="background-color: wheat;" class="card-header lead text-break bg-light">
        <i class="lead">{{ .Topic }}</i><br>
      </div>
      <i>Text</i>
        <div style="background-color: wheat;" class="text-break card">
           <text class="lead">&#128172; {{ .Body | safeHTML }}</text>
        </div>
        <br>
        </div>
        <div class="pull-right small">
          Started by {{ .User }} - {{ .CreatedAtDate }} {{ $v := .Id }}
        </div>
      </div>
    
  </div>

  <br />
  {{ range .Cards }}
  <div class="panel-heading" style="padding-top: 10px">
    <script>
      num++;
      var strNum = "";
      strNum = num.toString();
      var identify = "{{ .User }}";
      point.push(identify);
    </script>

  <text class="fa fa-comment me-2 text-break" style="font-size: 16px; cursor: pointer;"><a>&#128172;</a
  > {{ .Body | safeHTML }}</text>
    <div
      class="d-flex justify-content-between align-items-center me-2 border rounded"
    >
      <div class="text-muted small"  style="font-size: 13px;">
        Posted by
        <a id="num" class="element" href="/account?user_id={{.UserId}}"
          >{{ .User }}</a
        >
        - {{ .CreatedAtDate }}
      </div>
      <!-- Post like/dislike buttons -->
      <div class="pull-right justify-content-between">
        <button
          class="btn btn-small btn-success like-btn"
          data-post-id="{{ .Id }}"
          onclick="likePost('{{ .Id }}')"
        >
          <i class="fa fa-thumbs-up"></i>
          <span id="post-likes-{{ .Id }}">0</span>
        </button>
        <button
          class="btn btn-small btn-danger dislike-btn"
          data-post-id="{{ .Id }}"
          onclick="dislikePost('{{ .Id }}')"
        >
          <i class="fa fa-thumbs-down"></i>
          <span id="post-dislikes-{{ .Id }}">0</span>
        </button>
      </div>
      <!-- <a  style="display: none;" href="/likes" class="fa fa-comments-o" target="iframe_a"></a> -->
    </div>
  </div>

  {{ end }}

  <!-- watch hidden name id tydata.PrepareLikedPosts(alsoid)data.PrepareLikedPosts(alsoid)pe  -->
  <!-- <div class="forimage"> -->
  <div class="d-flex justify-content-center my-4">
    <img
      class="img-fluid"
      src="/static/images/hipart2.png.svg"
      alt="Separator"
    />
  </div>
  <script src="/static/js/thread-onlypost-like-api.js"></script>
{{ end }}
