<!DOCTYPE html>
<html lang="en">
      <style> 
      body {
          height: 40px;
      overflow-y: hidden;
      }
        button {
            background-color: transparent;
            border-color: transparent;
        }
      </style>
      <html style="overflow-y: hidden;">
          {{ if (index .Li 0).UserId }}
          <div style="display: inline-block;">
          <form action="threadLikes/accept" method="POST">
    <input type="hidden" name="userUSER" value="{{ (index .Li 0).UserId }}">
    <input type="hidden" name="okay" value="{{ (index .Li 0).ThreadId }}">
<button><img src="/static/THUMBUP.svg"></button>
{{ $v := (index .Li 0) }} {{ $v.LengthOfLikes }}
</form> 
{{ end }}
</div>

{{ if (index .Di 0).UserId }}
<div style="display: inline-block;">
<form action="threadLikes/dislike" method="POST">
  <input type="hidden" name="userUSER2" value="{{ (index .Di 0).UserId }}">
  
    <input type="hidden" name="okay2" value="{{ (index .Di 0).ThreadId }}">
<button><img src="/static/ris3.svg"></button>
{{ $v := (index .Di 0) }} {{ $v.LengthOfDislikes }}
</div>
</form> 
{{ end }}
</div>

</body>
</html>